.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid white;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
